.accessories-container {
  padding: 20px;
  background-color: #f9f9f9;
  margin: 20px 20px 0px 20px;
  height: 85vh;
  display: flex;
  flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    margin-bottom: 20px;
    height: 590px;
    width: 10vw;
    border: 2px solid black;
    gap: 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80vw;
  height: 590px;
  border: 2px solid black;
  overflow-y: auto;
  border: 2px solid black;
  padding: 10px;
  gap: 10px;
}
.product-item {
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
  border-radius: 5px; 
}

.home{
  padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.2s ease;
}

.filter-dropdown {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  width: 100%;
}