.login-form{
    height:500px;
    width: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-top: 100px;
}
.login-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-button{
    width: 60px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    background-color: #173555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.Login-Container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('enter.png');
    background-size: cover;
}

.login-font{
    color: #173555;
    font-weight: bolder;
    font-size: xx-large;
}

.login-font1{
    color: #173555;
    font-weight: bolder;
    font-size: x-large;
    margin-top: 20px;
}