.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card1{
    height: 300px;
    width: 450px;
    background-color: #f0f0f0;
    border: 1px solid black;
    background-image: url('card1.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.cardall:hover{
    transform: scale(1.05);
}

.btn{
    background-color: rgb(186, 58, 26);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: medium;
    border-radius: 5px;
    margin-top: 250px;   
}

.card2{
    height: 300px;
    width: 450px;
    background-color: #f0f0f0;
    border: 1px solid black;
    background-image: url('card2.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card3{
    height: 300px;
    width: 450px;
    background-color: #f0f0f0;
    border: 1px solid black;
    background-image: url('card3.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card4{
    height: 300px;
    width: 450px;
    background-color: #f0f0f0;
    border: 1px solid black;
    background-image: url('card4.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card5{
    height: 300px;
    width: 450px;
    background-color: #f0f0f0;
    border: 1px solid black;
    background-image: url('card5.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card6{
    height: 300px;
    width: 450px;
    background-color: #f0f0f0;
    border: 1px solid black;
    background-image: url('card6.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card7{
    height: 300px;
    width: 450px;
    background-color: #f0f0f0;
    border: 1px solid black;
    background-image: url('card7.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card8{
    height: 300px;
    width: 450px;
    background-color: #f0f0f0;
    border: 1px solid black;
    background-image: url('card8.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card9{
    height: 300px;
    width: 450px;
    background-color: #f0f0f0;
    border: 1px solid black;
    background-image: url('card9.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

