.footer{
    height: 50px;
    width: 100%;
    background-color: white;
    margin-top: 40px;
    display: flex;
    justify-content: center;    
    align-items: center;
    border-top: 1px solid #ccc;
    font-size: medium;
    color: #0c4b6f;
    margin-bottom: 20px;
}